.card{
    height: 300px;
    overflow: hidden;
}
.card-body{
    background-color: white;
    transition: all,.5s;
}
.card:hover{
    box-shadow: 0 8px 15px 0 rgba(0,0,0,.2);
}
.card:hover .card-body{
   transform: translate(0,-100px);
}

.cardimg{
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .card:hover .overlay {
    opacity: .6;
  }

  .overlay btn{
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
  }